<<<<<<< HEAD
body {
	background: red;
	color: yellow;
}
h2 {
	color: blue;
}
p.brag {
	font-family: Monospace;
}
=======
>>>>>>> parent of 7679bf1... Added some p-tags and color to font in stylesheet.
